[
{amqp_connection, [ 
  {username, <<"spark1">>},
  {password, <<"spark1">>},
  {virtual_host, <<"/vhost">>},
  {host, "192.168.4.110"},
  {port, 56721}
]},
{amqp_exchange, [
  {ticket,0},
  {exchange, <<"im.conversation">>},
  {type, <<"topic">> },
  {passive, false},
  {durable, false},
  {auto_delete, false},
  {internal, false},
  {nowait, false},
  {arguments, []}
]},
 {amqp_queue,[
   {qticket, 0},
   {queue, <<"chat">>},
   {qpassive, false},
   {qdurable, false},
   {qexclusive, false},
   {qauto_delete, false},
   {qnowait, false},
   {routing_key,<<"spark.chat">>},
   {qarguments, []}
 ]},
  {transform_module, test},
  {restart_timeout, 5000}
].
